<section id="banner">
    <div class="content">
        <div class="inner">
            <header>
                <h2>Carspotted</h2>
                <p>Sed magna in pharetra ultricies dolor sit consequat magna.</p>
            </header>
            <ul class="actions">
                <li><a href="#" class="button huge">Learn More</a></li>
            </ul>
        </div>
    </div>
</section>
