<section id="two" class="wrapper cta">
    <div class="inner">
        <header>
            <h2>Ultrices ante sagittis nunc senectus libero netus</h2>
            <ul class="actions">
                <li><a href="#" class="button big">How it works</a></li>
            </ul>
        </header>
        <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis. Lorem ipsum ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur.</p>
    </div>
</section>
