{% extends ':Layout:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% set disableFlashes = true %}

{% block title %}Carspotted{% endblock %}

{% block content %}
    <header class="major">
        <h2>Registration confirmed</h2>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    </header>
{% endblock %}
