{% extends ':Admin/Layout:base.html.twig' %}

{% block title %}Carspotted - administration panel{% endblock %}

{% block content %}
    <div class="row">
        {% include ':Admin/Layout:_navbar.html.twig' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="#">
                        <img src="{{ asset('images/admin/makes.png') }}" width="200" height="200" class="img-responsive" alt="Manage makes">
                        <h4 class="text-muted">Manage makes</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="#">
                        <img src="{{ asset('images/admin/models.png') }}" width="200" height="200" class="img-responsive" alt="Manage models">
                        <h4 class="text-muted">Manage models</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="#">
                        <img src="{{ asset('images/admin/spots.png') }}" width="200" height="200" class="img-responsive" alt="Manage spots">
                        <h4 class="text-muted">Manage spots</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <a href="#">
                        <img src="{{ asset('images/admin/spotters.png') }}" width="200" height="200" class="img-responsive" alt="Manage spotters">
                        <h4 class="text-muted">Manage spotters</h4>
                    </a>
                </div>
            </div>

            {% include ':Admin/Dashboard:_recentSpots.html.twig' %}
        </div>
    </div>
{% endblock %}
