<section id="banner">
    <div class="content">
        <div class="inner">
            <header>
                <h2>Carspotted</h2>
                <p>{{ 'app.carspotted.description'|trans }}</p>
            </header>
            <ul class="actions">
                <li><a href="{{ path('app_spot_index') }}" class="button huge">{{ 'app.spots'|trans }}</a></li>
            </ul>
        </div>
    </div>
</section>
