<!--
	Archetype by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->

{% import ':Layout/Macro:header.html.twig' as macros %}

<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include ':Layout:_stylesheets.html.twig' %}
</head>
<body class="landing">

{% if isIndex is not defined %}
    {% set isIndex = false %}
{% else %}
    {% include ':Layout:_banner.html.twig' %}
{% endif %}

{{ macros.header(isIndex) }}

{% if disableFlashes is not defined %}
    {% set disableFlashes = false %}
{% endif %}

{% if disableFlashes == false %}
    {% include ':Layout:_flashes.html.twig' %}
{% endif %}

{% block content %}{% endblock %}

{% include ':Layout:_footer.html.twig' %}

{% include ':Layout:_javascripts.html.twig' %}
</body>
</html>
