<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Carspotted</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
