<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Makes</a></li>
        <li><a href="#">Models</a></li>
        <li><a href="#">Spots</a></li>
        <li><a href="#">Spotters</a></li>
    </ul>
</div>
